@import url(https://fonts.googleapis.com/css?family=Montserrat);

.App {
  text-align: center;
  background-color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat";
  display: flex;
  flex-flow: column;
  font-size: 100%;
}
